*{
    margin: 0;
    padding: 0;
    font-size: 62.25%;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    max-width: 100vw;
}

img{
    width: inherit;
    height: inherit;
}

/* body{
    background-image: url(./images/pexels-johannes-plenio-1133502.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: black;
} */

/* Styling for menu bar begins here */
.user-nav{
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    box-shadow: 1px 1px 1px grey;
    vertical-align: middle;
    align-items: center;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    width: 30vw;
    padding-top: 20px;
}

.nav-item a{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    vertical-align: middle;
    transition: 600ms;
    cursor: pointer;
}

.nav-item a:hover{
    color: brown;
}

.app-logo{
    display: inline;
    padding: 5px;
    width: 20%;
    
}



.app-logo a img{
    display: inline;
    margin-left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

/* Search bar styles */

.search-bar{
    display: inline;
    width: 100%;
    margin: 10px 20px;
    align-items: right;
}

.search-form{
    margin-right: 150px;
    width: 20%;
    float: right;
}

.search{
    width: 74%;
    margin: 5px 0;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    cursor: text;
}

.search-button{
    width: 25%;
    background-color: white;
    color: brown;
    margin: 5px 0;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    border: 1px solid brown;
    border-radius: 15px;
    transition: 600ms;
    cursor: pointer;
}

.search-button:hover{
    background-color: brown;
    color: white;
}

@media screen and (max-width: 990px) {
    .search-bar{
        width: 100%;
    }

    .search-form{
        width: 70%;
        float: right;
        margin-right: 20px;
    }
}

.account-link{
    margin-left: 30px;
    padding-top: 8px;
    width: 50px;
    height: 40px;
}

.account-link a{
    padding: 15px;
    border-radius: 50%;
    background: brown;
    text-decoration: none;
    font-size: 2.31rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: white;
    border: 1px solid brown;
    vertical-align: middle;
    transition: 600ms;
    cursor: pointer;
}

.account-link a:hover{
    color: brown;
    background: white;
}
/* End of menu styling */

/* Styling for the categories begin here */

.book-category-container{
    padding: 10px;
    max-width: 100vw;
}

.category-books{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.category-heading{
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
    color: brown;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.category{
    margin: 30px 0;
    max-width: 100vw;
    padding: 20px 0;
    border-bottom: 2px solid brown;
}

.book{
    margin:  10px;
    width: 100%;
    box-shadow: 1px 1px 1px grey;
    border-radius: 15px;
}

.book-image{
    width: inherit;
    overflow: hidden;
    border-radius: 15px;
}

.book-image img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.book-details{
    padding: 10px;
}

.book-title{
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    color: brown;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.author-name{
    font-size: 1.3rem;
    text-align: center;
    align-items: center;
    color: black;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.author-reads{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0;
}

.reads{
    margin-right: 5px;
}

.read a, .save a{
    font-size: 1.5rem;
    font-weight: 500;
    color: brown;
    transition: 600ms;
    cursor: pointer;
    text-decoration: none;
}
.read{
    width: 100%;
    background-color: white;
    color: brown;
    margin: 5px 0;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    border: 1px solid brown;
    transition: 600ms;
    cursor: pointer;
}

.read:hover, .read a:hover{
    background-color: brown;
    color: white;
}

.save{
    width: 100%;
    background-color: brown;
    color: white;
    margin: 5px 0;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    border: 1px solid brown;
    transition: 600ms;
    cursor: pointer;
}

.save:hover{
    background-color: white;
    color: brown;
}

/* Responsive styling for category section */

@media screen and (max-width : 990px) {
    .category-books{
        flex-wrap: wrap;
    }

    .book{
        width: 45vw;
    }
}
@media screen and (max-width : 498px) {
    .category-books{
        flex-wrap: wrap;
    }

    .book{
        width: 90vw;
    }
    
}

.footer{
    padding: 10px 300px;
    text-align: center;
}

.footer-text{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
